{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro form</title>

    <!-- STYLESHEETS -->
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link rel="stylesheet" href="{% static 'account/new/css/styles.css' %}">
</head>
<body>
<main class="main-content">
    <div class="container">
        <div class="intro-page">
            <!-- HERO  -->

            <!-- REGISTRATION-FORM  -->
            <form class="registration-form" method="POST">
                <h2 class="registration-form-heading">Login</h2>
                <div class="registration-form-fields">
                    <input class="registration-form-field" type="text" name="username" placeholder="Username"
                           aria-label="First name" required>
                    <input class="registration-form-field" type="password" name="password" placeholder="Password"
                           aria-label="password" required>
                </div>
                <button class="registration-form-submit" type="submit">Login</button>
                <div class="registration-form-notice">If you haven't registered, click this link <a
                        class="registration-form-notice-link" href="{% url 'sign' %}">Register</a></div>
            </form>
        </div>
    </div>
</main>
<script src="{% static 'account/new/js/main.js' %}"></script>
</body>
</html>
