
{% extends 'account/base-account.html' %}
{% load static %}
{% block account %}
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Log out</h2>
                        <h2>Are you sure you want to leave the site?</h2>
                            <button class="button-logout" type="submit" name="submit" id="submit">Yes</button>
                            <a href="{% url 'index' %}">No</a>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}