{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="{% url 'shop' %}">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                    <div class="product__thumb__pic set-bg"
                                         data-setbg="{{ shop.image.url }}">
                                    </div>
                                </a>
                            </li>
                            {% if shop.image_detail.image1 %}
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                        <div class="product__thumb__pic set-bg"
                                             data-setbg="{{ shop.image_detail.image1.url }}">
                                        </div>
                                    </a>
                                </li>
                            {% endif %}

                            {% if shop.image_detail.image2 %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                        <div class="product__thumb__pic set-bg"
                                             data-setbg="{{ shop.image_detail.image2.url }}">
                                        </div>
                                    </a>
                                </li>
                            {% endif %}

                            {% if shop.image_detail.image3 %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                        <div class="product__thumb__pic set-bg"
                                             data-setbg="{{ shop.image_detail.image3.url }}">
                                        </div>
                                    </a>
                                </li>
                            {% endif %}

                            {% if shop.image_detail.image4 %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                        <div class="product__thumb__pic set-bg"
                                             data-setbg="{{ shop.image_detail.image4.url }}">
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                            {% if not shop.image_detail.image1 or not shop.image_detail.image2 or not shop.image_detail.image3 or not shop.image_detail.image4 %}
                                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                    <div class="product__details__pic__item">
                                        <img src="{{ shop.image.url }}" alt>
                                    </div>
                                </div>
                            {% else %}
                                {% if shop.image_detail.image1 %}
                                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                        <div class="product__details__pic__item">
                                            <img src="{{ shop.image_detail.image1.url }}" alt>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if shop.image_detail.image2 %}
                                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                                        <div class="product__details__pic__item">
                                            <img src="{{ shop.image_detail.image2.url }}" alt>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if shop.image_detail.image3 %}
                                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                                        <div class="product__details__pic__item">
                                            <img src="{{ shop.image_detail.image3.url }}" alt>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if shop.image_detail.image4 %}
                                    <div class="tab-pane" id="tabs-4" role="tabpanel">
                                        <div class="product__details__pic__item">
                                            <img src="{{ shop.image_detail.image4.url }}" alt>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>{{ shop.title }}</h4>
                            <h3>${{ shop.price }} {% if shop.is_sale %}<span>{{ shop.is_sale }}</span>{% endif %}</h3>
                            <div class="product__details__option">
                                <div class="product__details__option__size">
                                    <span>Size:</span>
                                    <label for="xxl">xxl
                                        <input type="radio" id="xxl">
                                    </label>
                                    <label class="active" for="xl">xl
                                        <input type="radio" id="xl">
                                    </label>
                                    <label for="l">l
                                        <input type="radio" id="l">
                                    </label>
                                    <label for="sm">s
                                        <input type="radio" id="sm">
                                    </label>
                                </div>
                                <div class="product__details__option__color">
                                    <span>Color:</span>
                                    <label class="c-1" for="sp-1">
                                        <input type="radio" id="sp-1">
                                    </label>
                                    <label class="c-2" for="sp-2">
                                        <input type="radio" id="sp-2">
                                    </label>
                                    <label class="c-3" for="sp-3">
                                        <input type="radio" id="sp-3">
                                    </label>
                                    <label class="c-4" for="sp-4">
                                        <input type="radio" id="sp-4">
                                    </label>
                                    <label class="c-9" for="sp-9">
                                        <input type="radio" id="sp-9">
                                    </label>
                                </div>
                            </div>
                            <div class="product__details__cart__option">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>
                                </div>
                                <a href="{% url 'shopping' shop.id %}" class="primary-btn">add to cart</a>
                            </div>
                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="/static/img/shop-details/details-payment.png" alt>
                                <ul>
                                    <li><span>SKU:</span> 3812912</li>
                                    {% if shop.category %}
                                        <li><span>Category:</span> {{ shop.category }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                       role="tab">Description</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>{{ shop.information }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Product</h3>
                </div>
            </div>
            <div class="row">

                {% for object in last_objects %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{ object.image.url }}">
                                <span class="label">New</span>
                                <ul class="product__hover">
                                    <li><a href="{% url 'shop-detail' object.id %}"><img
                                            src="/static/img/icon/compare.png" alt>
                                        <span>Compare</span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>{{ object.title }}</h6>
                                <a href="{% url 'shopping' object.id %}" class="add-cart">+ Add To Cart</a>
                                <h5>${{ object.price }}
                                </h5>
                                <div class="product__color__select">
                                    <label for="pc-1">
                                        <input type="radio" id="pc-1">
                                    </label>
                                    <label class="active black" for="pc-2">
                                        <input type="radio" id="pc-2">
                                    </label>
                                    <label class="grey" for="pc-3">
                                        <input type="radio" id="pc-3">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}